<div class="weather"
    style="height: 40vh; width: 320px; background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); border-radius: 20px; margin-top: 20px; margin-left: 2px;">
        <p style="text-align: right; padding: 20px;">
            <%= day+' '+month %><br> <span><%= time %> </span>
        </p>
        <h6><%= sky %>  <br>
            <h1><%= celcius %>°C</h1>
        </h6>
        <h3 style="padding-top: 50px;"><%= location %></h3>
</div>