<!DOCTYPE html>
<html lang="en">

<head>
  <title>NewsWebApplication</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="main-style.css">
  <link rel="stylesheet" href="/Public/sidebar.css">

  <link rel="stylesheet" href="./ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="mainNav">
    <a class="navbar-brand " href="#">
      <p class="all_text"><samp class="N_text">N</samp>ews <samp class="N_text">W</samp>eb <samp
          class="N_text">A</samp>plication</p>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <!-- SideBar -->
    <div class="col-3 sidebar " style="display: flex; ">
      <div class="container text-center view_height glass_card">

        <!-- WEATHER SECTION START -->
        <div class="weather"
          style="height: 40vh;background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); border-radius: 20px; margin-top: 20px; margin-left: 10px;">
          <p style="text-align: right; padding: 20px;">
            <%= day+' '+month %><br> <span><%= time %> </span></p>
          <h6><%= sky %>  <br>
            <h1><%= celcius %>°C</h1>
          </h6>
          <h3 style="padding-top: 50px;"><%= location %></h3>
        </div>
        <!-- WEATHER SECTION END -->

        <!-- COVID SECTION START -->
        <div class="covid"
            style="height: 40vh;  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); border-radius: 20px; margin-top: 20px; margin-left: 10px;">
          <h1 style="color: red; ">COVID 19
            <img style="height: 100px; border-radius: 100%; " src="images/covid_logo.png" alt="">
          </h1>
          <p >The Virus was first reported in Wuhan, Hubel China on 17th Nov
            2019.</p>
          <h3 >LIVE UPDATE <span style="font-size: 15px;">INDIA</span></h3>
          <h6 style="float: left;padding-left: 20px; " >Total Cases <span style="font-size: 23px; color: orangered; padding-left: 60px;"><%= cases %>+</span> </h6>
          <h6 style="float: left; padding-left: 20px;">Total Deaths <span style="font-size: 23px; color: red; padding-left: 50px;"><%= deaths %>+</span> </h6>
          <h6 style="float: left; padding-left: 20px;">Total Recovered <span style="font-size: 23px; color: green; padding-left: 26px;"><%= recovered %>+</span> </h6>
        </div> 
        <!-- COVID SECTION END -->


      </div>
    </div>

    <!-- MainContent -->
    <div class="col-9 mainContent">
      <div class="text-center view_height glass_card">
        <a href="/technology">
          <div class="square1"><img src="./img/technology.png" alt="">
            <p>Technology <br>News</p>
          </div>
        </a>
        <a href="/international">
          <div class="square2"><img src="./img/international.png" alt="">
            <p>International <br>News</p>
          </div>
        </a>
        <a href="/science">
          <div class="square3"><img src="./img/science.png" alt="">
            <p>Science <br>News</p>
          </div>
        </a>
        <a href="/business">
          <div class="square4"><img src="./img/business.png" alt="">
            <p>Business <br>News</p>
          </div>
        </a>
        <a href="/country">
          <div class="square5"><img src="./img/india.png" alt="">
            <p>Country <br> News</p>
          </div>
        </a>
        <a href="/entertainment">
          <div class="square6"><img src="./img/movies.png" alt="">
            <p>Entertainment</p>
          </div>
        </a>
        <a href="/health">
          <div class="square7"><img src="./img/wellness.png" alt="">
            <p>Health <br> News</p>
          </div>
        </a>
        <a href="/sports">
          <div class="square8"><img src="./img/sports.png" alt="">
            <p>SPORTS</p>
          </div>
        </a>

      </div>
    </div>
  </div>
  

</body>

</html>